@import url('http://fonts.cdnfonts.com/css/gidole');
:root{
    --xiketic: #1c0f13ff;
    --blue-green-color-wheel: #034c3cff;
    --slate-gray: #6e7e85ff;
    --opal: rgb(183, 206, 206);
    --platinum: #e2e2e2ff;
    --hover: rgb(163, 14, 14);
}

h1{
    color: var(--opal);
}

body{
    background-image: url(/imgs/aditya-vyas-SzI3K6fTcxI-unsplash\ \(1\).jpg);
    font-family: 'Gidole', sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    justify-self: center;
}

.tabla1{
    background-color: rgb(183, 206, 206, 0.6) ;
    border: 3px solid;
    border-radius: 10px;
    border-color: white;
    text-align: left;
    align-items: center;
    padding: 50px;
    width: 690px;
    position: absolute;
    left: 20%;
    justify-items: center;
    justify-content: center;
    justify-self: center;

}
table td{
    background-color: rgb(154, 172, 172);
    height: 60px;
}
table th{
    width: 100px;
    height: 30px;
}

div{
    height: 60px;
    text-align: center;
    
}

span:hover{
    background-color: var(--hover);
    color: var(--platinum);
}



section span{
    background-color: rgb(154, 172, 172);
    padding: 15px;
    margin: 3px;
    font-size: medium;
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-color: white;
}

.palabras{
    position: absolute;
    top: 0;
    left: -180px;
    color:var(--opal);
}

li{
    text-decoration: none;
}
